@import "tailwindcss";

@theme {
  /* 1. Объявляем название анимации */
  --animate-gradient-flow: gradient-flow 8s ease infinite;

  /* 2. Описываем сами кадры */
  @keyframes gradient-flow {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
}

/* 3. Обязательно добавляем класс для размера фона */
@utility bg-300 {
  background-size: 300% 300%;
}